[submodule "external/eigen"]
	path = src/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/userland"]
	path = src/userland
	url = https://github.com/raspberrypi/userland.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest
[submodule "src/g2o"]
	path = src/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "src/Fast-CDR"]
	path = src/Fast-CDR
	url = https://github.com/eProsima/Fast-CDR
[submodule "src/stats"]
	path = src/stats
	url = https://github.com/kthohr/stats
[submodule "src/gcem"]
	path = src/gcem
	url = https://github.com/kthohr/gcem
[submodule "src/mcap/mcap"]
	path = src/mcap/mcap
	url = https://github.com/foxglove/mcap.git
[submodule "src/proto/ros-message-schemas"]
	path = src/proto/ros-message-schemas
	url = https://github.com/foxglove/ros-message-schemas
